<div class = "container">
   <div class="row">
     <div class="col-ad-12">
       <h1><center>MySpace</center></h1>
     </div>
   </div>
  </div>
  
  <div class = "container">
    <div class = "row">
      <div class="col-xs-6 col-md-3">
        <a href = "#" class = "thumbnail">
          <img src=<%=@imgurl%> alt="">
        </a>
      </div>
      <div class = col-md-8>
        <div class = "page-header">
          <h1> <%= @name %> <small> Member since <%= @membersince %> </small></h1>
          <p><%=@description%></p>
          <p><b>Location: </b><%=@location%></p>
          <div class = "progress">
            <div class="progress-bar" role = "progressbar" aria-valuenow="<%=@completion%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@completion%>%;">
              <%=@completion%>%
            </div>
      </div>
    
</div>