<div class = "container">
   <div class="row">
     <div class="col-ad-12">
       <h1><center>MySpace</center></h1>
     </div>
   </div>
  </div>
  
  <div class = "container">
    <div class = "row">
      <div class="col-xs-6 col-md-3">
        <a href = "#" class = "thumbnail">
          <img src=<%=@scientist.imgurl%> alt="">
        </a>
      </div>
      <div class = col-md-8>
        <div class = "page-header">
          <h1> <%= @scientist.name %> <small> Member since <%= @scientist.membersince %> </small></h1>
          <p><%=@scientist.description%></p>
          <p><b>Location: </b><%=@scientist.location%></p>
          <div class = "progress">
            <div class="progress-bar" role = "progressbar" aria-valuenow="<%=@scientist.completion%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@scientist.completion%>%;">
              <%=@scientist.completion%>%
            </div>
      </div>
          <p></p>
          <p></p>
          <a href="/profile/<%=@scientist.id%>/edit">edit </a>|
          <a href="/profile/<%=@scientist.id%>/destroy">destroy</a>
    
</div>